<div class="container">
	<h1>Create User</h1>
	<form action="submit">
		<fieldset class="form-group">
			<label for="name">Name</label><br>
			<input type="text" placeholder="Name" class="form-control"/>
		</fieldset>
		<fieldset class="form-group">
			<label for="userName">Username</label><br>
			<input type="text" placeholder="Username" class="form-control"/>
		</fieldset>
		<fieldset class="form-group">
			<label for="password">Password</label><br>
			<input type="password" placeholder="Password" class="form-control"/>
		</fieldset>
		<br>
		<div class="alert alert-danger" role="alert">
			<strong>Oh snap!</strong> Change a few things up and try submitting again.
		</div>
		<fieldset class="form-group">
			<button class="btn btn-success">CREATE USER</button>
		</fieldset>
	</form>
</div>